apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-exporter
  template:
    metadata:
      labels:
        app: kafka-exporter
    spec:
      containers:
        - name: exporter
          image: danielqsj/kafka-exporter
          args:
            - --kafka.server=poc-kafka-kafka-bootstrap.kafka:9092
