apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-metrics-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-metrics-app
  template:
    metadata:
      labels:
        app: http-metrics-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: app
        image: http-metrics-app:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: 100m
